In [4]:
import pandas as pd
from bokeh.charts import output_file, Chord
from bokeh.io import show
from bokeh.sampledata.les_mis import data

nodes = data['nodes']
links = data['links']

nodes_df = pd.DataFrame(nodes)
links_df = pd.DataFrame(links)

source_data = links_df.merge(nodes_df, how='left', left_on='source', right_index=True)
source_data = source_data.merge(nodes_df, how='left', left_on='target', right_index=True)
source_data = source_data[source_data["value"] > 5]

chord_from_df = Chord(source_data, source="name_x", target="name_y", value="value")
output_file('chord_from_df.html', mode="inline")
show(chord_from_df)

In [11]:
nodes_df.head()

   group             name
0      1           Myriel
1      1         Napoleon
2      1  Mlle.Baptistine
3      1     Mme.Magloire
4      1     CountessdeLo

In [12]:
links_df.head()

   source  target  value
0       1       0      1
1       2       0      8
2       3       0     10
3       3       2      6
4       4       0      1

In [14]:
source_data

,source,target,value,group_x,name_x,group_y,name_y
1,2,0,8,1,Mlle.Baptistine,1,Myriel
2,3,0,10,1,Mme.Magloire,1,Myriel
3,3,2,6,1,Mme.Magloire,1,Mlle.Baptistine
47,23,11,9,3,Fantine,2,Valjean
49,24,11,7,4,Mme.Thenardier,2,Valjean
50,25,24,13,4,Thenardier,4,Mme.Thenardier
52,25,11,12,4,Thenardier,2,Valjean
54,26,11,31,5,Cosette,2,Valjean
57,27,11,17,4,Javert,2,Valjean
62,28,11,8,0,Fauchelevent,2,Valjean
117,51,49,9,5,Mlle.Gillenormand,5,Gillenormand
126,55,51,6,8,Marius,5,Mlle.Gillenormand
127,55,49,12,8,Marius,5,Gillenormand
130,55,26,21,8,Marius,5,Cosette
131,55,11,19,8,Marius,2,Valjean
141,58,55,7,8,Enjolras,8,Marius
142,58,48,7,8,Enjolras,8,Gavroche
143,58,27,6,8,Enjolras,4,Javert
146,59,58,15,8,Combeferre,8,Enjolras
148,59,48,6,8,Combeferre,8,Gavroche
154,61,58,6,8,Feuilly,8,Enjolras
159,62,55,9,8,Courfeyrac,8,Marius
160,62,58,17,8,Courfeyrac,8,Enjolras
161,62,59,13,8,Courfeyrac,8,Combeferre
162,62,48,7,8,Courfeyrac,8,Gavroche
165,62,61,6,8,Courfeyrac,8,Feuilly
169,63,62,6,8,Bahorel,8,Courfeyrac
176,64,62,12,8,Bossuet,8,Courfeyrac
179,64,58,10,8,Bossuet,8,Enjolras
180,64,61,6,8,Bossuet,8,Feuilly
182,64,59,9,8,Bossuet,8,Combeferre
186,65,64,7,8,Joly,8,Bossuet
211,69,25,6,4,Babet,4,Thenardier
212,69,68,6,4,Babet,4,Gueulemer

In [ ]:
source =